<nav class="ougc-sidebar">
  <h2>About OUGC</h2>
  <ul>
    {%- assign current = page.url | replace:'index.html','' | replace:'//','/' | downcase -%}

    {%- for item in site.data.about_ougc_nav -%}
      {%- assign target_raw = item.url | default: '' -%}
      {%- assign target = target_raw | replace:'index.html','' | replace:'//','/' | downcase -%}

      <li>
        <a href="{{ target | relative_url }}"
           class="{% if current == target %}active{% endif %}">
          {{ item.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>