<nav class="ougc-sidebar">
  <h2>{{ include.page_title }}</h2>
  <ul>
    {%- assign current = page.url | replace:'index.html','' | replace:'//','/' | downcase -%}

    {%- assign current_page = site.data.navigation | where: "title", include.page_title | first -%}

    {%- for child in current_page.children -%}
      {%- assign child_target = child.url | replace:'index.html','' | replace:'//','/' | downcase -%}
      <li>
        <a href="{{ child.url | relative_url }}" class="{% if current == child_target %}active{% endif %}">
          {{ child.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
