---
layout: default
---

{%- case page.sidebar_title -%}
  {%- when "about_ougc" -%}
    {%- assign title = "About OUGC" -%}
  {%- when "membership" -%}
    {%- assign title = "Membership Information" -%}
  {%- when "intro_days" -%}
    {%- assign title = "Introduction Days" -%}
  {%- when "news" -%}
    {%- assign title = "News" -%}
  {%- when "competitions" -%}
    {%- assign title = "Competitions" -%}
  {%- when "trips_expeditions" -%}
    {%- assign title = "Trips, Training Weeks & Expeditions" -%}
{%- endcase -%}

<div class="about-wrapper">
  {% include sidebar.html page_title = title %}
  <main class="about-content">
    {{ content }}
  </main>
</div>